<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Delta Oauth" />
    <!-- <link rel="icon" type="image/png" href="/images/deltaLogoWhite.png"> -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>
    <%-stylesheets%>
</head>

<body>
    <div id="main">
        <%-body%>
    </div>
    <%-scripts%>
</body>

</html>