<% layout('../partials/template') %>
<div>Login</div>

<form action="/auth/login" method="POST">
    <input type="text" name="email"/>
    <input type="text" name="password"/>
    <input type="text" name="clientId"/>
    <button type="submit">OK</button>
</form>